<%= filter_for @search, :html => {:class => 'usefull_filter_container span-24'}, :url => usefull_attachment_links_path do |f| %>
  <%= f.text_field :attachmentable_type %>
  <%= f.text_field :attachmentable_id %>
  <%= f.text_field :type %>
  <%#= f.text_field :typology %>
  <%= f.text_field :link_content_type %>
  <%= f.text_field :link_file_name %>
  <li><br /><br /></li> <%#= Temporaneamente inserisco degli 'a capo' per riallineare i tasti di filtraggio. %>
  <%= f.submit %>
<% end %>

<%=table_for(@attachments,@search) do |t| %>
  <% t.monitor %>
	<% t.download :url => Proc.new {|object| download_usefull_attachment_link_path(object)} %>
  <% t.destroy :url => Proc.new {|object| usefull_attachment_link_path(object)}, :link_options => {:confirm => 'Are you sure?', :method => :delete} %>
  <% t.col :id %>
  <% t.col :attachmentable_type %>
  <% t.col :attachmentable_id %>
  <% t.col :type %>
  <% t.col :typology %>
  <% t.col :description %>
  <% t.col :link_file_name %>
  <% t.col :link_file_size %>
  <% t.col :updated_at, :data_type => :DateTime %>
  <% t.col :link_content_type %>
  <% t.col "createdby_displayname" %>
  <% t.col "updatedby_displayname" %>
<% end %>

<%= link_to "New", new_usefull_attachment_link_path %>
