
<%= filter_for @search, :url => usefull_attachment_links_path do |f| %>
  <%= f.text_field :attachmentable_type %>
  <%= f.text_field :attachmentable_id %>
  <%= f.text_field :file_content_type %>
  <%= f.text_field :file_file_name %>
  <%= f.submit %>
  
<% end %>

<span class="span-24" style="overflow:scroll">
<%=table_for(@attachments,@search) do |t| %>
  <% t.monitor %>
	<% t.download :url => Proc.new {|object| download_usefull_attachment_link_path(object)} %>
  <% t.destroy :url => Proc.new {|object| usefull_attachment_link_path(object)}, :link_options => {:confirm => 'Are you sure?', :method => :delete} %>
  <% t.col :id %>
  <% t.col :attachmentable_type %>
  <% t.col :attachmentable_id %>
  <% t.col :description %>
  <% t.col :file_file_name %>
  <% t.col :file_file_size %>
  <% t.col :updated_at, :data_type => :DateTime %>
  <% t.col :file_content_type %>
<% end %>
</span>
<%= link_to "New", new_usefull_attachment_link_path %>
